@model IEnumerable<Model.Activity>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminManagement.cshtml";
}

@section head{
  <style>
      .t{
           width:50px;
           height:10px;
           white-space:nowrap;
           overflow:hidden;
           text-overflow:ellipsis;
         }
  </style>    

}

@section foot{
<script type="text/javascript">
   
        //设置cookie
        function setCookie(key, value) {
                document.cookie = key + "=" + escape(value);
        }
        //获取cookie的值
        function getCookie(key) {
            if (document.cookie.length) {
                var cookies = ' ' + document.cookie;
                var start = cookies.indexOf(' ' + key + '=');
                if (start == -1) { return null; }
                var end = cookies.indexOf(";", start);
                if (end == -1) { end = cookies.length; }
                end -= start;
                var cookie = cookies.substr(start,end);
                return unescape(cookie.substr(cookie.indexOf('=') + 1, cookie.length - cookie.indexOf('=') + 1));
            }
            else { return null; }
        }
        //根据点击传进来的id
        function comment(id){
             if(getCookie(id)==null){
                 setCookie(id, "CheckOut");
               }else{
                 if (getCookie(id) == "CheckOut") {
                    
                     //$("#DZbtn").removeAttr("href");
                     alert("您已经结算过了");
                     $('#checkout_' + id).attr("href", "javascript:void(0)");
                         return false;

                    }
                }
         //这里是你自己的逻辑 通过ajax保存到数据库的数值
        }

        //alert(ip);
</script>  
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("Publish","SucculentActivity")">发布新活动</a>
</p>
<table class="table">
    <tr class="tt">
        <th>
            @Html.DisplayNameFor(model => model.ActivityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityDescribe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpvoteNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityCover)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttendConditions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LevelRequest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityCategory.ActivityCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="t">
            @Html.DisplayFor(modelItem => item.ActivityName)
        </td>
        <td class="t">
            @Html.DisplayFor(modelItem => item.ActivityDescribe)
        </td>
        <td class="t">
            @Html.DisplayFor(modelItem => item.ActivityPlace)
        </td>
        <td class="t">
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td class="t">
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td class="t">
            @Html.DisplayFor(modelItem => item.UpvoteNum)
        </td>
        <td class="t">
            @Html.DisplayFor(modelItem => item.ActivityCover)
        </td>
        <td class="t">
            @Html.DisplayFor(modelItem => item.AttendConditions)
        </td>
        <td class="t">
            @Html.DisplayFor(modelItem => item.LevelRequest)
        </td>
        <td class="t">
            @Html.DisplayFor(modelItem => item.ActivityCategory.ActivityCategoryName)
        </td>
        <td class="t">
            @Html.DisplayFor(modelItem => item.Users.UserName)
        </td>
        <td class="t">
            @Html.ActionLink("编辑", "Edit", new { id=item.ActivityID }) |
            @Html.ActionLink("详情", "Details", new { id=item.ActivityID }) |
            @Html.ActionLink("删除", "Delete", new { id = item.ActivityID }) |
            @if ((item.ActivityCategoryID == 1 || item.ActivityCategoryID==2)&& item.EndTime<DateTime.Now)
            {
               <a onclick="comment('@item.ActivityID')" id="checkout_@item.ActivityID" href="@Url.Action("CheckOut","ActivityManagement", new { id=item.ActivityID })">结算</a>
            }
        </td>
    </tr>
}

</table>
