@model IEnumerable<Model.Activity>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminManagement.cshtml";
}

@section head{
  <style>
      .t{
           width:50px;
           height:10px;
           white-space:nowrap;
           overflow:hidden;
           text-overflow:ellipsis;
         }
  </style>    

}

@section foot{
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("Publish","SucculentActivity")">发布新活动</a>
</p>
<table class="table">
    <tr class="tt">
        <th>
            @Html.DisplayNameFor(model => model.ActivityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityDescribe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpvoteNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityCover)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttendConditions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LevelRequest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityCategory.ActivityCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="t">
            @Html.DisplayFor(modelItem => item.ActivityName)
        </td>
        <td class="t">
            @Html.DisplayFor(modelItem => item.ActivityDescribe)
        </td>
        <td class="t">
            @Html.DisplayFor(modelItem => item.ActivityPlace)
        </td>
        <td class="t">
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td class="t">
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td class="t">
            @Html.DisplayFor(modelItem => item.UpvoteNum)
        </td>
        <td class="t">
            @Html.DisplayFor(modelItem => item.ActivityCover)
        </td>
        <td class="t">
            @Html.DisplayFor(modelItem => item.AttendConditions)
        </td>
        <td class="t">
            @Html.DisplayFor(modelItem => item.LevelRequest)
        </td>
        <td class="t">
            @Html.DisplayFor(modelItem => item.ActivityCategory.ActivityCategoryName)
        </td>
        <td class="t">
            @Html.DisplayFor(modelItem => item.Users.UserName)
        </td>
        <td class="t">
            @Html.ActionLink("编辑", "Edit", new { id=item.ActivityID }) |
            @Html.ActionLink("详情", "Details", new { id=item.ActivityID }) |
            @Html.ActionLink("删除", "Delete", new { id = item.ActivityID }) |
            @if ((item.ActivityCategoryID == 1 || item.ActivityCategoryID==2)&& item.EndTime<DateTime.Now)
            {
               <a href="@Url.Action("CheckOut","ActivityManagement", new { id=item.ActivityID })">结算</a>
            }
        </td>
    </tr>
}

</table>
