@model SucculentWeb.ViewModels.indexVM 
@using Model
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
<link href="~/Content/index.css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function() {
            var width=$(window).width();
            var height=$(window).height()-100; 
            $('.flexslider').css('width',width);
            $('.flexslider').css('height',height);
        });
</script>
    }

 <!--顶部图片-->
<section id="home">
    <div class="overlay">
        <div class="flexslider">
            <div class="slider-caption">
                <div class="templatemo_homewrapper">
                    <span>多肉 引领你的绿色生活</span>
                    @using (Html.BeginForm("SearchResult", "Index", FormMethod.Post, new { @class = "search_form" }))
                    {
                        <input class="inpu_txt" placeholder="输入你想所搜索的" type="text" name="keywords" />
                            <a class="glyphicon glyphicon-search go" href="javascript:void(0)"></a>
                    }
                </div>
            </div>
            <ul class="slides">
                <li>
                    <img src="~/images/slider/3.jpg" alt="Slide 1" style="opacity:0.85">

                </li>
                <li>
                    <img src="~/images/slider/2.jpg" alt="Slide 2" style="opacity:0.85">
                </li>
            </ul>
        </div>
    </div>
</section>

<!--多肉百科开始-->
<section>
    <div class="category">
        <div class="welcome">
            <div class="container">
                <div class="title-introduce">
                    <h3 class="agileits_w3layouts_head">多肉 <span>百科</span></h3>
                    <div class="w3_agile_image">
                        <img src="~/images/1.png" alt="" class="img-responsive" height="150" />
                    </div>
                    <p class="agile_para">多肉科属简介</p>
                </div>
            </div>
            <div class="mis-stage w3_agileits_welcome_grids contain-img">

                <ol class="mis-slider">
                    @foreach (var item in Model.succulent)
                    {
                        <li class="mis-slide">
                            <figure>
                                <a class="succulent-img" href="@Url.Action("Succulent_Details","Succulent",new { id=item.SucculentID })" target="_blank"><img src="@item.Photo" width="250" height="200"/></a>
                                <figcaption style="font-family:'Microsoft YaHei';font-size:20px;line-height:40px;">@item.SucculentName</figcaption>
                            </figure>
                        </li>
                    }                                      
                </ol>
            </div>
            <div class="More">
            </div>
        </div>
        </div>
</section>
<!-- 多肉百科结束-->
<!--多肉商店开始 -->
<section>

    <div class="category">
        <div class="container">
            <div class="title-introduce">
                <h3 class="agileits_w3layouts_head">多肉 <span>商店</span></h3>
                <div class="w3_agile_image">
                    <img src="~/images/1.png" alt="" class="img-responsive" />
                </div>
                <p class="agile_para">多肉热销商品</p>
            </div>
        </div>
        <div class="category-content">

                <div class="row">


                    <div class="col-md-4 left" style="height:380px;">
                        <div class="row left-up">

                            <div class="col-md-12" style="height:30px;"><a class="little-title">明星店铺 >></a></div>
                        </div>
                        <div class="row left-down" style="height:350px;">
                            <div class="left-content">
                              <a  href="@Url.Action("Shops","Goods",new {ShopID= @ViewBag.ShopID })"> <img src="@ViewBag.photo" /></a>  
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 right" style="height:380px;">
                        <div class="row right-up">
                            <div class="col-md-12" style="height:30px;"><a class="little-title" href="@Url.Action("ShopMallIndex","ShopMall")">热销单品 >></a></div>
                        </div>
                        <div class="row right-middle">
                            @foreach (var item in Model.goods)
                            {
                                <div class="col-md-3 col-sm-3 little" style="height:170px;">

                                    <div class="hovereffect">
                                        <img src="@item.GoodsPhoto" alt="" class="img-thumbnail" />
                                        <div class="overlay">
                                            <a class="info" href="@Url.Action("GoodsDetail","Goods",new { goodid=item.GoodsID})">点击购买</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="row right-middle-2">
                            <div class="col-md-12" style="height:10px;"></div>
                        </div>
                        <div class="row right-middle-3">
                            <div class="col-md-12" style="height:30px;"><a class="little-title" href="@Url.Action("ShopMallShops","ShopMall")">热搜商店 >></a></div>
                        </div>
                        <div class="row right-down">
                            @foreach (var item in Model.shops)
                            {
                                <div class="col-md-4 col-sm-4 little" style="height:130px;">
                                  <a href="@Url.Action("Shops","Goods",new { ShopID=item.ShopID})"><img src="@item.ShopPhoto" class="image" /></a> 
                                    <div class="know">
                                        <h5>@item.ShopName</h5>
                                        <p>@item.ShopDescription</p>
                                    </div>

                                </div>
                            }                
                        </div>
                        <div class="row right-middle-4">
                            <div class="col-md-12" style="height:10px;"></div>
                        </div>
                    </div>
                </div>

        </div>
</div>
</section>
<!--多肉商店结束-->
<!--多肉活动开始-->
<section></section>
<!-- 多肉活动结束-->


<section id="contact">
    <div class="divider">
        <div class="overlay">
            <div class="container div-luntan">
                <div class="row">
                    <div class="divider-des">
                        <h3 class="text-uppercase">加入我们 &nbsp 交流经验 &nbsp 来论坛畅所欲言 </h3>
                        <button class="btn btn-default text-uppercase" onclick="window.open('@Url.Action("TribuneIndex", "Tribune")')">进入论坛</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Foot{
    <script>
       $('.go').click(function () {
           $('.search_form').submit();
       });

        $(window).scroll(function () { //绑定scroll事件
            var t = $(window).scrollTop();  //获取滚动距离
            if (t >= 300) { //判断
                $(".templatemo_homewrapper>form").removeClass('search_form').addClass('fixed_form');
            } else {
                $(".templatemo_homewrapper>form").removeClass('fixed_form').addClass('search_form');
            }
        });
</script>
}