@model Model.Shops

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdminManagement.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Shops</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShopName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShopName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShopDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShopDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShopPhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShopPhoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShopID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
