@model SucculentWeb.ViewModels.SucculentIndexViewModels
@using Model
@{
    
}
@section head{ 
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
  <link href="~/Content/Succulent_Details.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <style>
        .div-footer{
            margin-top:80px;
            background-color:transparent;
        }
        .div-footer .div-middle{
           background-color:transparent;
        }
    </style>
    <script>
        $(function () {         
            $('#wrap-yangzhi').click(function () {
                $('html,body').animate({
                    scrollTop :$('.wrap-yangzhi').offset().top-70
                }, 1000)               
            })
            $('#wrap-yuanlin').click(function () {
                $('html,body').animate({
                    scrollTop: $('.wrap-yuanlin').offset().top - 70
                }, 1000)
            })
            $('#wrap-tuce').click(function () {
                $('html,body').animate({
                    scrollTop: $('.wrap-tuce').offset().top - 70
                }, 1000)
            })
        })
</script>
    <script>
        $(function () {
            $("#Collecte").click(function (e) {
                e.preventDefault();
                var t = this;
                //var formData = new FormData(document.getElementById("userInfoForm"));
                $.ajax({
                    type: 'post',
                    data: {id:$("#SucculentID").val()},
                    url: "/Succulent/Collection",
                    async: true,
                    success: function (msg) {
                        //var name = $(t).parent().prev().find('input').attr('name');
                        //$(t).parents(".filed").prev().find("span").html(data[name]);
                        if (msg == "请先登录哦！" || msg == "你已经收藏过啦！") {
                            alert(msg);
                        }
                        else {
                            $("#collect-num").html(msg);

                        }
                       
                    }
                })
            })
        })
    </script>
}
<div class="wrap-body">
    <div class="wrap-body-img">
    </div>
    <div class="wrap-contain">
        @foreach (var item in Model.succulent_Details)
        {
            <div class="main-contain">
                <div class="wrap-introduce">
                    <dl class="wrap-introduce-title">
                        <dd class="row">
                            <h1 class="col-md-8">
                                <input type="hidden" id="SucculentID" name="SucculentID" value="@item.SucculentID" />
                                @Html.DisplayFor(modelItem => item.SucculentName)<small class="small-add">
                                <a class="a-add"><i class="fa fa-plus-square" id="Collecte"></i> </a><span id="collect-num">@Html.DisplayFor(modelItem => item.CollectedTotal)</span>
                            </small>
                        </h1>
                    </dd>
                </dl>
                <div class="wrap-introduce-para row">
                    <p class="col-md-12">
                        @Html.DisplayFor(modelItem => item.Feature)
                    </p>
                </div>
            </div>
            <div class="wrap-mulu row">
                <div class="wrap-mulu-left col-md-6">
                    <h2>目录</h2>
                </div>
                <div class="wrap-mulu-right col-md-6">
                    <ol>
                        <li>
                            <span><a href="javascript:void(0)" id="wrap-yangzhi">养殖要点</a></span>
                        </li>                       
                        <li>
                            <span><a href="javascript:void(0)" id="wrap-yuanlin">园林应用</a></span>
                        </li>
                        <li>
                            <span><a href="javascript:void(0)" id="wrap-tuce">图册</a></span>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="wrap-yangzhi">
                <div class="wrap-yangzhi-title">
                    <h2>养殖要点</h2>
                    <div></div>
                </div>
                <div class="wrap-yangzhi-content row">
                    <p class="col-md-12 wrap-p">
                        @Html.Raw(item.BreedMode)
                    </p>
                </div>
            </div>
            <div class="wrap-yuanlin">
                <div class="wrap-yuanlin-title">
                    <h2>园林应用</h2>
                    <div></div>
                </div>
                <div class="wrap-yuanlin-content row">
                    <p class="col-md-12 wrap-p">
                        @Html.Raw(item.Application)
                    </p>
                </div>
            </div>
            <div class="wrap-tuce">
                <div class="wrap-tuce-title">
                    <h2>图册</h2>
                </div>
                <div class="wrap-tuce-content row">
                    <p class="col-md-12">
                        @Html.Raw(item.SucculentImg)
                    </p>
                </div>
            </div>
        </div>
        <div class="side-contain">
            <div class="side-contain-img row">
                <p class="col-md-12 img-photo">
                    <img src="@item.Photo" width="350" height="230" title="@item.SucculentName" />
                </p>
            </div>
            <div class="side-contain-main">
                <div class="side-contain-main-similate">
                    <div class="side-contain-main-similate-title row"><h1 class="col-md-12">相似多肉</h1></div>
                    <div class="side-contain-main-similate-contain row">
                        @foreach (var item1 in Model.Like)
                        {
                            <div class="col-md-4 side-contain-main-similate-contain-img">
                                <a href="@Url.Action("Succulent_Details", "Succulent", new { id = item1.SucculentID, categoryid = item1.CategoryID})">
                                    <img src="@item1.Photo" width="110" height="100" />
                                    <span class="img-span">@item1.SucculentName</span>
                                </a>
                            </div>
                        }
                    </div>
                </div>
                <div class="side-contain-main-well">
                    <div class="side-contain-main-well-title row"><h1 class="col-md-12">最受欢迎的多肉</h1></div>
                    <div class="side-contain-main-well-contain row">
                        @foreach (var item2 in Model.Room)
                        {
                            <div class="col-md-4 side-contain-main-well-contain-img">
                                <a href="@Url.Action("Succulent_Details", "Succulent", new { id = item2.SucculentID, categoryid = item2.CategoryID})">
                                    <img src="@item2.Photo" width="110" height="100" />
                                    <span class="img-span">@item2.SucculentName</span>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
    <div class="share-contain">
        <div>
            <ul>
                <li><a arget="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=763225207&site=qq&menu=yes"><img src="~/images/qq1.png" width="34" height="34" /></a></li>
                <li><a target="_blank" href="http://weibo.com/u/3976320063/"><img src="~/images/wb.png" width="34" height="34" /></a></li>
                <li><a target="_blank" href="http://weixin.qq.com"><img src="~/images/wx.png" width="34" height="34" /></a></li>
            </ul>
        </div>
    </div>
</div>
