@model IEnumerable<Model.Posts>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminManagement.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PostTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostFlag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sections.SectionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PostTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostFlag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sections.SectionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PostID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PostID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PostID })
        </td>
    </tr>
}

</table>
