@model IEnumerable<Model.Goods>
@{
    ViewBag.Title = "GoodsDetail";
    Layout = "~/Views/Shared/ShopMall.cshtml";
}
<script src="~/js/index.js"></script>
<script src="~/js/jquery.js"></script>
<link href="~/css/GoodsDetail.css" rel="stylesheet" />
<script src="~/js/xzoom.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script>
    jQuery.extend( {
    min : 1,
    reg : function(x) {
        jQuery('#J_Tip').html("");
        jQuery('#J_Tip').hide();
        return new RegExp("^[1-9]\\d*$").test(x);
    },
    amount : function(obj, mode) {
        var x = jQuery(obj).val();
        if (this.reg(parseInt(x))) {
            if (mode) {
                x++;
            } else {
                x--;
            }
        } else {
            jQuery('#J_Tip').html("<i class=\"ico\"></i>请输入正确的数量！");
            jQuery('#J_Tip').show();
            jQuery(obj).val(1);
            jQuery(obj).focus();
        }
        return x;
    },
    reduce : function(obj) {
        var x = this.amount(obj, false);
        if (parseInt(x) >= this.min) {
            jQuery(obj).val(x);
        } else {
            jQuery('#J_Tip').html("<i class=\"ico\"></i>商品数量最少为" + this.min
                    + "！");
            jQuery('#J_Tip').show();
            jQuery(obj).val(1);
            jQuery(obj).focus();
        }
    },
    add : function(obj) {
        var x = this.amount(obj, true);
        var max = jQuery('#nAmount').val();
        if (parseInt(x) <= parseInt(max)) {
            jQuery(obj).val(x);
        } else {
            jQuery('#J_Tip').html("<i class=\"ico\"></i>您所填写的商品数量超过库存！");
            jQuery('#J_Tip').show();
            jQuery(obj).val(max == 0 ? 1 : max);
            jQuery(obj).focus();
        }
    },
    modify : function(obj) {
        var x = jQuery(obj).val();
        var max = jQuery('#nAmount').val();
        if (!this.reg(parseInt(x))) {
            jQuery(obj).val(1);
            jQuery(obj).focus();
            jQuery('#J_Tip').html("<i class=\"ico\"></i>请输入正确的数量！");
            jQuery('#J_Tip').show();
            return;
        }
        var intx = parseInt(x);
        var intmax = parseInt(max);
        if (intx < this.min) {
            jQuery('#J_Tip').html("<i class=\"ico\"></i>商品数量最少为" + this.min
                    + "！");
            jQuery('#J_Tip').show();
            jQuery(obj).val(this.min);
            jQuery(obj).focus();
        } else if (intx > intmax) {
            jQuery('#J_Tip').html("<i class=\"ico\"></i>您所填写的商品数量超过库存！");
            jQuery('#J_Tip').show();
            jQuery(obj).val(max == 0 ? 1 : max);
            jQuery(obj).focus();
        }
    }
    });
</script>



@*<a class="num_oper num_min" href="javascript:jQuery.reduce('#J_Amount');">-</a>

<input name="Jm_Amount" id="J_Amount" class="input_txt" type="text" maxlength="6" value="1" onkeyup="jQuery.modify('#J_Amount');" style="width:40px;" />

<a class="num_oper num_plus" href="javascript:jQuery.add('#J_Amount')">+</a>
<p class="caution_tips" id="J_Tip" style="display:none;"></p>
<input id="nAmount" type="hidden" value='15' />*@





@{ Html.RenderAction("DetailTopImage", "Goods");}
<hr style="width:90%;color:aqua;margin-left:5%;" />

<div class="main">
    <div class="left-content">
        <div class="xzoom-container">
            <img class="xzoom" id="xzoom-default"  src="@ViewBag.goodphoto" xoriginal="@ViewBag.goodphoto"   />
        </div>

    </div>
    <div class="middle-content">
        <div class="good-title">
            <p class="title">@ViewBag.goodName</p>
        </div>
        <div class="price">
            <div class="yuanjia"><s>原价：</s><em>￥</em><span>20</span></div>
            <div class="zhehoujia"><s>促销价：</s><em>￥</em><span>@ViewBag.goodprice</span></div>
            <input type="hidden" name="price" value="@ViewBag.goodprice" />
        </div>
        <div class="yunfei">
            <s>运费&nbsp;&nbsp;&nbsp;&nbsp;包邮：0.00</s>   
        </div>
        <div class="time">
            <span>上架时间：</span>
            <p>@ViewBag.time</p>
        </div>
        <div class="xiaoliang">
            <ul>
                <li>销量<s>@ViewBag.Sales</s></li>
                <li>累计评价<s>@ViewBag.pinglunshu </s></li>
                <li>点赞数<s>@ViewBag.goodlikit</s></li>
            </ul>
        </div>
        @using (Html.BeginForm("Carts", "Goods", FormMethod.Post, new { }))
        {
            <input type="hidden" name="price" value="@ViewBag.goodprice" />
        <div class="Edit">
            <s>数量</s>
            @*<span><input type="text" maxlength="8" value="1" /></span>
            <div class="button">
                <button type="button">+</button>
                <button type="button">-</button>
            </div>*@
            
            <div class="button">
                <a class="num_oper num_min" href="javascript:jQuery.reduce('#J_Amount');">-</a>

                <input name="Jm_Amount" id="J_Amount" class="input_txt" type="text" maxlength="6" value="1" onkeyup="jQuery.modify('#J_Amount');" style="width:40px;" />

                <a class="num_oper num_plus" href="javascript:jQuery.add('#J_Amount')">+</a>
                <p class="caution_tips" id="J_Tip" style="display:none;"></p>
                <input id="nAmount" type="hidden" value='@ViewBag.KuCun' />
            </div>
            <div class="kucun">库存 @ViewBag.KuCun 件</div>
        </div>
        <div class="goumai">
            <span class="buy"><a>立即购买</a></span>
            <span class="car">
    @*@Html.ActionLink("加入购物车", "Carts", "Goods", new { goodid = Session["goodid"] })*@
                @if (Session["UserName"] != null)
                {
                    <input type="submit" value="加入购物车" @*formtarget="_blank"*@ />
                }
                else
                {
                    <a onclick="confirm('请先登录')?location.href='@Url.Action("Login","User")':''" href="javascript:;">加入购物车</a>
                }
            </span>
        </div>
        }
        <div class="baozheng">
            <ul>
                <li>服务承诺</li>
                <li>正品保证</li>
                <li>极速退款</li>
            </ul>
            <span class="fenxiang">

                <img src="~/images/分享.png" /><s>分享</s>
            </span>
            <span class="dianzan">
                @if(Session["UserName"]!=null)
                {
                    <a  onclick="comment('GoodsDetail')" href="@Url.Action("Dianzan","Goods")" id="DZbtn" ><img src="~/images/点赞(点).png" /></a><s>点赞</s>
                }
                else
                {
                   <a onclick="confirm('请先登录')?location.href='@Url.Action("Login","User")':''" href="javascript:;"><img src="~/images/点赞(点).png" /></a>  <s>点赞</s>
                }
                
            </span>
        </div>
    </div>
    @{ Html.RenderAction("GoodsDetailShop", "Goods");}
</div>
<div class="second-main">
    @{ Html.RenderAction("GoodsDetailTuijian", "Goods");}
    <div class="right-main">
        <figure class="tabBlock">
            <ul class="tabBlock-tabs">
                <li class="tabBlock-tab is-active">宝贝详情</li>
                <li class="tabBlock-tab">累计评论(@ViewBag.pinglunshu)</li>
            </ul>
            <div class="tabBlock-content">
                <div class="tabBlock-pane">
                    <p style="margin-left:0px;">@Html.Raw(@ViewBag.goodDes)</p>
                </div>
                <div class="tabBlock-pane" id="GoodsCommentsPagedList">
                    @{ Html.RenderAction("GoodsComments","Goods");}                  
                </div>
            </div>
        </figure>
    </div>
</div>
<script src="~/js/setup.js"></script>

<script type="text/javascript">

        //设置cookie
        function setCookie(key, value) {
                document.cookie = key + "=" + escape(value);
        }
        //获取cookie的值
        function getCookie(key) {
            if (document.cookie.length) {
                var cookies = ' ' + document.cookie;
                var start = cookies.indexOf(' ' + key + '=');
                if (start == -1) { return null; }
                var end = cookies.indexOf(";", start);
                if (end == -1) { end = cookies.length; }
                end -= start;
                var cookie = cookies.substr(start,end);
                return unescape(cookie.substr(cookie.indexOf('=') + 1, cookie.length - cookie.indexOf('=') + 1));
            }
            else { return null; }
        }
        //根据点击传进来的id
        function comment(id){
             if(getCookie(id)==null){
                   setCookie(id,"GoodsDetail");
                   // setCookie(id,"http://act.13322.com");   setCookie(id,"http://act.13322.com/euro/index.html");
               }else{
                 if (getCookie(id) == "GoodsDetail") {
                     $("#DZbtn").removeAttr("href");
                         alert("您已经点评过了");
                         return false;
                //if(getCookie(id)=="http://act.13322.com" ||  getCookie(id)=="http://act.13322.com/euro/index.html")
                       
                    }
                }
         //这里是你自己的逻辑 通过ajax保存到数据库的数值
        }

        //alert(ip);
</script>  
