@model PagedList.IPagedList<Model.Shops>
@using PagedList
@using PagedList.Mvc
@using BLL
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShopMallShopsContent</title>
    <link type="image/x-icon" href="~/images/多肉项目Logo.png" rel="icon" />
    <link href="~/css/ShopMallShopsContent.css" rel="stylesheet" />
    <link href="~/css/PagedList.css" rel="stylesheet" />
</head>
<body>

    <div class="shop-content">
        <ul class="shop-content_ul">
            @foreach (var p in Model)
            {
                <li class="shop-content_li">
                    <div class="kongbai"></div>
                    <div class="left-content">
                        <div class="left-content-top">
                            <div class="shop-icon">
                                <input type="hidden" name="shopid" value=ShopID/>
                                <a href="@Url.Action("Shops", "Goods", new { ShopID = p.ShopID })">  <img src="@p.ShopPhoto" /></a>
                                <input type="hidden" name="shopID" value=@p.ShopID />
                            </div>
                            <div class="shop-jianjie">
                                <p class="shop-name"><a href="@Url.Action("Shops", "Goods", new { ShopID = p.ShopID })">@p.ShopName</a></p>
                                
                                <p class="maijia">卖家：<a href="@Url.Action("Shops", "Goods", new { ShopID = p.ShopID })">@p.Users.UserName</a></p>
                                <p class="zhuying">主营：<a>@p.ShopDescription</a></p>
                            </div>
                        </div>
                        <div class="left-content-down">
                            @{ 
                                GoodsManager goodsmanager = new GoodsManager();
                                ShopManager shopmanager = new ShopManager();
                                var Salse = goodsmanager.SelectShopTime(p.ShopID).ToList();
                                int Total = 0;
                                for (int i = 0; i < Salse.Count(); i++)
                                {
                                    Total = Total + Salse[i].Sales;
                                }
                                int count= shopmanager.SelectShopGoodsCount(p.ShopID);
                                }
                            <p class="xiaoliang">销量<b>@Total</b></p>
                            <p class="shuliang">共<b>@count </b>件宝贝</p>
                        </div>
                    </div>
                    <div class="right-content">
                        <ul class="right-content-box">
                            @foreach (Model.Goods B in p.Goods.Where(c=>c.ShopID==p.ShopID).ToList().Take(4))
                            {
                                <li>
                                    <a href="@Url.Action("GoodsDetail","Goods",new { goodid = B.GoodsID})"><img src="@B.GoodsPhoto" /></a> 
                                    <a>@B.GoodsName</a>
                                </li>
                            }
                        </ul>
                    </div>
                </li>
            }
        </ul>
    </div>
    @*<div class="fenye" style="width:100%;height:50px;display:block;margin-bottom:20px;text-align:center;">
        @Html.PagedListPager(Model, page => Url.Action("ShopMallShops", "ShopMall", new { page }))
    </div>*@
    <div class="fenye" style="width:50%;margin-left:45%; height:50px;display:block;margin-top:20px; margin-bottom:20px;text-align:center;">
        <div id="flickrpager">
            @Html.PagedListPager(Model, page => Url.Action("ShopMallShopsContent", "ShopMall", new { page }),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
       new AjaxOptions
       {
           HttpMethod = "GET",
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "shopmallcontent"
       }
           )
           )
        </div>
    </div>
</body>
</html>
