@model Model.Pots
<div class="PotsMain">
    <div class="Pots">
        <img src="~/images/虚拟多肉.png" />
        <div class="PotsSign">
            @{
                if (Model == null)
                {
                    using (Html.BeginForm("InsertPots", "UserCenter"))
                    {
                        <div class="am-progress">
                            <div class="am-progress-bar" style="width: 0%">0级</div>
                        </div>
                        <button class="am-btn am-btn-success am-btn-block">开通多肉</button>
                    }
                }
                else
                {
                    <div class="am-progress">
                        @{
                            double progress = (double.Parse((Model.Experience - Model.Level.Levellowerlimit).ToString()) / double.Parse((Model.Level.LevelToplimit - Model.Level.Levellowerlimit).ToString())) * 100;
                        }
                        <div class="am-progress-bar am-progress-bar-danger" style="width:@progress%">@Model.LevelID 级</div>
                    </div>
                    <p>已连续签到：<b class="dayscount">@{ int days = int.Parse((Model.SignDays == null ? 0 : Model.SignDays).ToString());} @days</b> 天</p>
                        <button class="am-btn am-btn-success am-btn-block sign-btn">签到</button>
                        <i class="am-icon-question-circle-o"><a href="@Url.Action("Index","Level")" target="_blank"> 等级规则</a></i>
                        }
            }
        </div>
        <div class="SignTip">
            <p>@DateTime.Now.ToString("yyyy年MM月dd日")</p>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>
        $(function () {
            @{
                string oldsign;
                int signdays;
                if (Model == null)
                {
                    oldsign = "2000-01-01";
                    signdays = 0;
                }
                else
                {
                    if (Model.SignDays == null)
                    {
                        oldsign = "2000-01-01";
                        signdays = 0;
                    }
                    else
                    {
                        oldsign = DateTime.Parse(Model.Sign.ToString()).ToString("yyyy-MM-dd");
                        signdays = int.Parse(Model.SignDays.ToString());
                    }

                }
                string now = DateTime.Now.ToString("yyyy-MM-dd");
            }
            var old='@oldsign';
            var nowtime = '@now';
            if(old==nowtime){
                $('.sign-btn').attr('disabled', true).text('今日已签到');
            }

            $('.sign-btn').click(function () {
                $.ajax({
                    url:'@Url.Action("Sign", "UserCenter")',
                    type: 'POST',
                    date: {},
                    success: function (msg) {
                        if (msg == '签到成功！') {
                            $('.SignTip').fadeIn(200).fadeOut(5000);
                            @*var days=@Model.SignDays==null?0:@Model.SignDays;
                            $('.dayscount').text(days+1);*@
                            $('.sign-btn').attr('disabled', true).text('今日已签到');
                        } else {
                            alert(msg);
                        }
                    }
                });
            });
        });
</script>

