@model Model.Users
@{
    ViewBag.Title = "Index";
}
@section head{
    <link href="~/Content/UserInfo.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    <script src="~/js/jquery-3.2.1.min.js"></script>
    @*<script src="~/js/jquery-2.1.4.min.js"></script>*@
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <style>
        .div-footer {
            margin-top: 0px;
            background: #f7f8fa;
        }

            .div-footer .div-middle {
                background: #f7f8fa;
            }
    </style>
    <script>
        $(function () {
            $(".div-change-button").click(function () {
                $(this).parents(".filed").css("opacity", "0");
                $(this).parents(".filed").next().css({ "opacity": "1", "z-index": "2" });
            })
            $(".save-button").click(function () {
                $(this).parents(".filed").css({ "opacity": "0", "z-index": "1" });
                $(this).parents(".filed").prev().css({ "opacity": "1", "z-index": "2" });
            })
            $(".cancel-button").click(function () {
                $(this).parents(".filed").css({ "opacity": "0", "z-index": "1" });
                $(this).parents(".filed").prev().css({ "opacity": "1", "z-index": "2" });
            })           
        })
    </script>
}
<main class="main-contain">
    <div class="main-contain-top">
        <div class="user-back">
            @*<img class="back-img" />*@
        </div>
    </div>
    <div class="user-info">
        @using (Html.BeginForm("UpdataPhoto", "UserCenter", FormMethod.Post, new { id = "UserPhoto", enctype = "multipart/form-data" }))
        {
            @*<input type="hidden" name="UserID" value="@Model.UserID" />*@
            <div class="user-info-section">
                <div class="user-info-section-photo">
                    @{
                        if (Model.Photo != null)
                        {
                            <img src="@Model.Photo" width="160" height="160" />
                        }
                        else
                        {
                            if (Model.Sex == "女")
                            {
                                <img src="~/images/WomanDefaultPhoto.png" width="130" height="130" />
                            }
                            else if (Model.Sex == "男")
                            {
                                <img src="~/images/ManDefaultPhoto.png" width="130" height="130" />
                            }
                            else
                            {
                                <img src="~/images/默认头像.png" width="130" height="130" />
                            }
                        }
                    }
                </div>
                <div class="user-info-section-photo-hidden">
                    <div class="user-info-section-photo-hidden-contain">
                        <div class="user-info-section-photo-hidden-contain-text">
                            <i class="fa fa-camera-retro"></i><input type="file" name="Photo" />
                            <input type="submit" value="确定" class="btn-sure" />
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="user-info-details">
            <main class="user-info-details-main row">
                <h1 class="col-md-8">@Model.UserName</h1>
                <div class="user-info-go col-md-4">
                    <div class="user-info-go-bottom row">
                        @Html.ActionLink("返回个人主页>", "Index", "UserCenter", new { id = @Model.UserID }, new { @class = "col-md-12" })
                    </div>
                </div>
                <div id="UpdataInfo">

                    @using (Html.BeginForm("UpdateInfo", "UserCenter", FormMethod.Post))
                    {
                        <input type="hidden" name="UserID" value="@Model.UserID" />
                        <div class="filed-1 filed row">
                            <h3 class="col-md-3">性别</h3>
                            <div class="div-span col-md-8">
                                <div>
                                    <span>@Model.Sex</span>
                                    <a class="div-change-button sex-button"><i class="fa fa-pencil"></i>&nbsp;修改</a>
                                </div>
                            </div>
                        </div>
                        <div class="filed-2 filed row">
                            <h3 class="col-md-12">性别</h3>
                            <div class="SelectSex div-save col-md-12">
                                <div>
                                    <span>男 @Html.RadioButtonFor(u => u.Sex, "男")</span>
                                    <span>女 @Html.RadioButtonFor(u => u.Sex, "女")</span>
                                    <div class="div-button">
                                        <input type="submit" value="保存" class="SelectSex-button1 btn save-button" />
                                        <a class="SelectSex-button2 btn cancel-button">取消</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="filed-3 filed row">
                            <h3 class="col-md-3">生日</h3>
                            <div class="div-span col-md-8">
                                <div>
                                    <span>@Model.Birth.ToString().Substring(0, 9)</span>
                                    <a class="div-change-button age-button"><i class="fa fa-pencil"></i>&nbsp;修改</a>
                                </div>
                            </div>
                        </div>
                        <div class="filed-4 filed row">
                            <h3 class="col-md-12">生日</h3>
                            <div class="Birth div-save col-md-12">
                                <div>
                                    <span>
                                        @Html.EditorFor(user => user.Birth, new { placeholder = "请填入出生时间", @class = "Birth-input span-input" })
                                        @Html.ValidationMessageFor(user => user.Birth, "", new { style = "color:#1E90FF;" })
                                    </span>
                                    <div class="div-button">
                                        <input type="submit" value="保存" class="Birth-button1 btn save-button" />
                                        <a class="Birth-button2 btn cancel-button">取消</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="filed-6 filed row">
                            <h3 class="col-md-3">邮箱</h3>
                            <div class="div-span col-md-8">
                                <div>
                                    <span>@Model.Email</span>
                                    <a class="div-change-button Email-button"><i class="fa fa-pencil"></i>&nbsp;修改</a>
                                </div>
                            </div>
                        </div>
                        <div class="filed-7 filed row">
                            <h3 class="col-md-12">邮箱</h3>
                            <div class="Email div-save col-md-12">
                                <div>
                                    <span>
                                        @Html.TextBoxFor(user => user.Email, new { placeholder = "请输入正确的电子邮箱，格式如xxx@xx.com", @class = "Email-input span-input" })
                                        @Html.ValidationMessageFor(user => user.Email, "", new { style = "color:#1E90FF;" })
                                    </span>
                                    <div class="div-button">
                                        <input type="submit" value="保存" class="Email-button1 btn save-button">
                                        <a class="Email-button2 btn cancel-button">取消</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="filed-8 filed row">
                            <h3 class="col-md-3">手机</h3>
                            <div class="div-span col-md-8">
                                <div>
                                    <span>@Model.Phone</span>
                                    <a class="div-change-button Phone-button"><i class="fa fa-pencil"></i>&nbsp;修改</a>
                                </div>
                            </div>
                        </div>
                        <div class="filed-9 filed row">
                            <h3 class="col-md-12">手机</h3>
                            <div class="Phone div-save col-md-12">
                                <div>
                                    <span>
                                        @Html.TextBoxFor(user => user.Phone, new { placeholder = "请输入正确的大陆手机号码", @class = "Phone-input span-input" })
                                        @Html.ValidationMessageFor(user => user.Phone, "", new { style = "color:#1E90FF;" })
                                    </span>
                                    <div class="div-button">
                                        <input type="submit" value="保存" class="Phone-button1 btn save-button">
                                        <a class="Phone-button2 btn cancel-button">取消</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="filed-10 filed row">
                            <h3 class="col-md-3">安全问题</h3>
                            <div class="div-span col-md-8">
                                <div>
                                    <span>@Model.SecretQues</span>
                                    <a class="div-change-button question-button"><i class="fa fa-pencil"></i>&nbsp;修改</a>
                                </div>
                            </div>
                        </div>
                        <div class="filed-11 filed row">
                            <h3 class="col-md-12">安全问题</h3>
                            <div class="question div-save col-md-12">
                                <div>
                                    @Html.DropDownListFor(user => user.SecretQues, ViewData["list"] as IEnumerable<SelectListItem>)                 
                                    <div class="div-button">
                                        <input type="submit" value="保存" class="question-button1 btn save-button">
                                        <a class="question-button2 btn cancel-button">取消</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="filed-12 filed row">
                            <h3 class="col-md-3">安全答案</h3>
                            <div class="div-span col-md-8">
                                <div>
                                    <span>@Model.SecretAnws</span>
                                    <a class="div-change-button Phone-button"><i class="fa fa-pencil"></i>&nbsp;修改</a>
                                </div>
                            </div>
                        </div>
                        <div class="filed-13 filed row">
                            <h3 class="col-md-12">安全答案</h3>
                            <div class="answer div-save col-md-12">
                                <div>
                                    <span>@Html.TextBoxFor(user => user.SecretAnws, new { placeholder = "请输入问题答案", @class = "answer-input span-input" })</span>
                                    <div class="div-button">
                                        <input type="submit" value="保存" class="answer-button1 btn save-button">
                                        <a class="answer-button2 btn cancel-button">取消</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </main>
        </div>
    </div>
</main>