@model Model.Users
@{
    ViewBag.Title = "Index";
}
@section head{
    <link href="~/Content/UserInfo.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    <script src="~/js/jquery-3.2.1.min.js"></script>
    @*<script src="~/js/jquery-2.1.4.min.js"></script>*@
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <style>
        .div-footer {
            margin-top: 0px;
            background: #f7f8fa;
        }

            .div-footer .div-middle {
                background: #f7f8fa;
            }
    </style>
    <script>
        $(function () {
            $(".div-change-button").click(function () {
                $(this).parents(".filed").css("opacity", "0");
                $(this).parents(".filed").next().css({ "opacity": "1", "z-index": "2" });
            })
            $(".save-button").click(function () {
                $(this).parents(".filed").css({ "opacity": "0", "z-index": "1" });
                $(this).parents(".filed").prev().css({ "opacity": "1", "z-index": "2" });
            })
            $(".cancel-button").click(function () {
                $(this).parents(".filed").css({ "opacity": "0", "z-index": "1" });
                $(this).parents(".filed").prev().css({ "opacity": "1", "z-index": "2" });
            })
            //-----------------------------------------------------------
            
        })
    </script>
}
<main class="main-contain">
    <div class="main-contain-top">
        <div class="user-back">
            <img class="back-img" />
        </div>
    </div>
    <div class="user-info">
        @using (Html.BeginForm("UpdataPhoto", "UserCenter", FormMethod.Post, new { id = "UserPhoto", enctype = "multipart/form-data" }))
        {
            @*<input type="hidden" name="UserID" value="@Model.UserID" />*@
            <div class="user-info-section">
                <div class="user-info-section-photo">
                    <img src="@Model.Photo" width="160" height="160" />
                </div>
                <div class="user-info-section-photo-hidden">
                    <div class="user-info-section-photo-hidden-contain">
                        <div class="user-info-section-photo-hidden-contain-text">
                            <i class="fa fa-camera-retro"></i><input type="file" name="Photo" />
                            <input type="submit" value="确定" class="btn-sure" />
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="user-info-details">
            <main class="user-info-details-main row">
                <h1 class="col-md-8">@Model.UserName</h1>
                <div class="user-info-go col-md-4">
                    <div class="user-info-go-bottom row">
                        @Html.ActionLink("返回个人主页>", "Index", "UserCenter", new { id = @Model.UserID }, new { @class = "col-md-12" })
                    </div>
                </div>
                <div id="UpdataInfo">

                    @Html.Action("GetUpdateInfo")

                    @*@{
                        //Html.RenderAction("UpdateInfo");
                        //{

                        //}
                                                }*@
                </div>
            </main>
        </div>
    </div>
</main>