
@model SucculentWeb.ViewModels.TribuneVM.TribuneBoardVM
@using BLL;
@using Model;
@{
    ViewBag.Title = "BoardIndex";
    Layout = "~/Views/Shared/Tribune/TribuneView.cshtml";
}

<link href="~/css/Tribune/TribuneBoard.css" rel="stylesheet" />

<!-- 主体 -->
<section id="bodyer">
    <div id="bodyer">
        <div id="bodyer-left">
            <div id="LeftBox">
                <div id="A4-Style">
                    <div class="list-A">
                    </div>
                    <div class="list-B">
                    </div>
                    <div class="list-C">
                        <p class="text-center">时间</p>
                    </div>
                    <div class="list-D">
                        <p class="text-center">作者</p>
                    </div>
                    <div class="list-E">
                        <p class="text-center">评论</p>
                    </div>
                </div>
            </div>
            @{ Html.RenderAction("PostsList", "Tribune");}
        </div>
        <div id="bodyer-right">
            <div id="RightBox">
                <div id="RB-01">
                    <a href="@Url.Action("Index", "Index")"> 多肉网 </a>
                    <em>&rsaquo;</em>
                    <a href="@Url.Action("TribuneIndex", "Tribune")"> 论坛 </a>
                    <em>&rsaquo;</em>
                    @foreach (var A in Model.Sections)
                    {
                        <a href=""> ［@A.SectionName］ </a>
                    }
                </div>
                <div id="RB-02">
                    <span>
                        今日:
                        <strong>@Model.PostsNumberToday</strong>
                        <b>&nbsp;</b>
                        <span>|</span>
                        <b>&nbsp;</b>
                        主题:
                        <strong>@Model.PostsNumberAll</strong>
                    </span>
                </div>
                <div id="RB-04">
                    @if (Session["UserID"] != null && Session["UserName"]!=null)
                    {
                        <div id="A4-PhotoBox">
                            <div id="A4-UserPhoto">
                                @{ PostsManager PostM = new PostsManager();}
                                @{ IEnumerable<Users> users = PostM.SelectUserInfo(Session["UserName"].ToString()); }
                                @foreach (var A in users)
                                {
                                    <img src="@A.Photo" width="108" height="108" />
                                }
                            </div>
                        </div>
                        <div id="A4-NameBox">
                            @Session["UserName"]
                        </div>
                        <div id="A4-LevelBox">
                            @{ int EXP = PostM.GetUserEx(Convert.ToInt32(Session["UserID"])); }
                            @{ int Lev = PostM.GetUserPotLev(Convert.ToInt32(Session["UserID"])); }
                            @if (Lev != 0)
                            {
                                foreach (var A in Model.Boardlevels)
                                {
                                    <p title="@EXP/@A.LevelToplimit">Lv.@A.LevelID&nbsp;@A.LevelName</p>
                                }
                            }
                            else
                            {
                                <p title="领取盆栽后才能开始累积经验">Lv.0&nbsp;路人</p>
                            }
                        </div>
                                }
                                else
                                {
                                    <div id="A4-PhotoBox">
                                        <div id="A4-UserPhoto">
                                        </div>
                                    </div>
                                    <div id="A4-LoginInfo">
                                        <button class="btn btn-block btn-xs btn-default" onclick="window.open('@Url.Action("Login", "User")')"> 登 录 </button>
                                    </div>
                                }
                </div>
                <div id="RB-03">
                    @if (Session["UserID"] != null)
                    {
                        <button id="A3-btn" class="btn btn-block btn-sm" onclick="window.open('@Url.Action("CreatePost", "Tribune")')"> 我 要 发 帖 </button>
                    }
                    else
                    {
                        <button id="A3-btn" class="btn btn-block" onclick="alert(' 请先登录 ')">我要发帖</button>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 主体结束 -->
