
@model SucculentWeb.ViewModels.TribuneVM.TribunePostVM
@using BLL;
@using Model;
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "PostsDetails";
    Layout = "~/Views/Shared/Tribune/TribuneView.cshtml";
    PostsManager PostM = new PostsManager();
}

<script src="~/js/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<link href="~/css/Tribune/TribunePosts.css" rel="stylesheet" />
<script src="~/ueditor/ueditor.config.js"></script>
<script src="~/ueditor/ueditor.all.js"></script>

<script type="text/javascript">
    var editorOption = {
        initialFrameWidth: 1000,
        autoHeightEnabled: true,
        maximumWords: 1000,
        initialFrameHeight: 150,
        toolbars: [['source', 'undo', 'redo', 'bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'date', 'time', 'link', 'unlink', 'fontfamily', 'fontsize', 'forecolor', 'simpleupload', 'emotion', 'scrawl', 'insertvideo', 'music', 'attachment', 'map', 'inserttable', 'help', 'justifyleft', 'justifyright', 'justifycenter', 'justifyjustify']]
    };
    var editor = new baidu.editor.ui.Editor(editorOption);
    editor.render('PostCommentContent');
</script>

<!-- 主体 -->
<section id="bodyer">
    <div id="bodyer">
        <div id="PostTitle">
            <div id="titleLeft">
                <p>@Model.Posts.PostTitle</p>
            </div>
            <div id="titleRight">
                @*<button class="btn btn-sm btn-default">只看楼主</button>*@
                <button id="PLbtn" class="btn btn-sm btn-default">评论</button>
                <input type="button" class="btn btn-sm btn-default" onClick="location.href='@Url.Action("BoardIndex", "Tribune", new { BoardID = int.Parse(Session["BoardID"].ToString()) })'" value="返回">
            </div>
        </div>
        @{ string tempid; }
        @{ string areaid; }
        @{ string inptid; }
        @foreach (var A in Model.PostComment)
        {
            tempid = "dev" + A.PostCommentID;
            areaid = "arv" + A.PostCommentID;
            inptid = "inp" + A.PostCommentID;
            <div class="PostFloor">
                <div class="PostIMG">
                    <div class="IMG01">
                        <div class="IMG01A">
                            <img src="@A.Users.Photo" width="118" height="118" />
                        </div>
                    </div>
                    <div class="IMG02">@A.Users.UserName</div>
                    @{ IEnumerable<Level> lev = PostM.SelectUserLevel(A.UserID); }
                    @{ int Lev = PostM.GetUserPotLev(A.UserID); }
                    <div class="IMG03">
                        @if (Lev != 0)
                        {
                            foreach (var E in lev)
                            {
                                <p>Lv.@E.LevelID&nbsp;@E.LevelName</p>
                            }
                        }
                        else
                        {
                            <p>Lv.0&nbsp;路人</p>
                        }
                    </div>
                </div>
                <div class="PostContent">
                    <div class="Content01">
                        @Html.Raw(@A.PostCommentContent)
                    </div>
                    <div class="PostBottom">
                        <div class="Bottomtime">@A.PostCommentTime</div>
                        <div class="BottomReply">
                            @{ int ReplyNum = PostM.GetReplyComNum(A.PostCommentID);}
                            <button class="btn btn-xs btn-default" onclick="document.getElementById('@tempid').style.display = document.getElementById('@tempid').style.display == '' ? 'none' : ''">&nbsp;回复本层&nbsp;@ReplyNum&nbsp;</button>
                        </div>
                    </div>
                    <div id="@tempid" style="display:none;" class="ReplyBox">
                        @foreach (Model.ReplyPost B in A.ReplyPost.Where(C => C.PostCommentID == A.PostCommentID).ToList().AsReadOnly())
                        {
                            <div class="ReplyList">
                                <div class="ReplyPhoto">
                                    <div class="RePPP">
                                        <img src="@B.Users.Photo" width="44" height="44" />
                                    </div>
                                </div>
                                <div class="ReplyText">
                                    <div class="ReText01"><p>@B.Users.UserName : @Html.Raw(B.ReplyContent)</p></div>
                                    <div class="ReText02">@B.ReplyPostTime</div>
                                </div>
                            </div>
                        }
                        <div class="ReplyToPost">
                            @using (Html.BeginForm("RlyPosts", "Tribune", new { PostCommentID = A.PostCommentID }, FormMethod.Post, new { id = "CreateForm", enctype = "multipart/form-data" }))
                            {
                                <div class="PostRly01">
                                    @Html.TextAreaFor(Model => Model.RlyPosts.ReplyContent, new { @class = "form-control", style = "resize:none;", rows = "3", placeholder = "我也要简单说两句" } )
                                </div>
                                <div class="PostRly02">
                                    <div class="Rly02-A">
                                        @Html.ValidationMessageFor(Model => Model.RlyPosts.ReplyContent, "", new { style = "color:red;" })
                                    </div>
                                    <div class="Rly02-B">
                                        @if (Session["UserID"] != null)
                                        {
                                            <input id="@inptid" type="submit" value="&nbsp;发表回复&nbsp;" class="btn btn-xs btn-default" />
                                        }
                                        else
                                        {
                                            <input type="button" value="&nbsp;发表回复&nbsp;" class="btn btn-xs btn-default" onclick="alert(' 请先登录 ')" />
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
                                }
        <div id="PagedListBox">
            @Html.PagedListPager(Model.PostComment, page => Url.Action("PostsDetails", new { page, PostID = int.Parse(Session["PostID"].ToString()) }))
        </div>
        <div id="PostComment">
            @using (Html.BeginForm("PostsDetails", "Tribune", FormMethod.Post, new { id = "CreateForm", enctype = "multipart/form-data" }))
            {
                <div id="PostComTile">
                    <div id="Comtitlephoto"></div>
                    <div id="Comtitle"><p>发表评论</p></div>
                </div>
                <div id="PostCom01" class="text">
                    <textarea id="PostCommentContent" name="PostCommentContent" required></textarea>
                    @*@Html.TextArea("PostCommentContent")*@
                </div>
                <div id="PostCom02" class="text">
                    <div id="Com02-A">
                        @*此处放错误信息*@
                    </div>
                    <div id="Com02-B">
                        @if (Session["UserID"] != null)
                        {
                            <input type="submit" value="发 表 评 论" class="btn btn-success" />
                        }
                        else
                        {
                            <input type="button" value="发 表 评 论" class="btn btn-success" onclick="alert(' 请先登录 ')" />
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- 主体结束 -->
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#PLbtn').click(function () { $('html,body').animate({ scrollTop: $('#PostComment').offset().top }, 800); });
    });
</script>
