@using Model;
@using BLL;
<!DOCTYPE html>
<html>
<head>
    <title>多肉</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link type="image/x-icon" href="~/images/多肉项目Logo.png" rel="icon" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @*<script src="~/js/jquery-3.2.1.min.js"></script>*@
    <link rel="stylesheet" href="~/Content/animate.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/mislider.css">
    <link rel="stylesheet" href="~/Content/mislider-custom.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    @*<link rel="stylesheet" href="~/dist/pageSwitch.min.css">*@
    <link href="~/Content/amazeui.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    @RenderSection("head", false)
</head>
<body>
    <div class="wrap">
        <div class="preloader">
            <div class="sk-spinner sk-spinner-rotating-plane"></div>
        </div>
        <!--导航栏-->
        <nav class="navbar navbar-fixed-top custom-navbar row" role="navigation">
            <div class="container col-md-9">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                    </button>
                    <a href="@Url.Action("Index","Index")" class="navbar-brand" style="margin-left:100px;">多肉网</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="@Url.Action("Index","Index")" class="smoothScroll" target="_blank">首页</a></li>
                        <li><a href="@Url.Action("Succulent", "SucculentIndex")" class="smoothScroll" target="_blank">百科</a></li>
                        <li><a href="@Url.Action("TribuneIndex", "Tribune")" class="smoothScroll" target="_blank">论坛</a></li>
                        <li><a href="@Url.Action("Index","SucculentActivity")" class="smoothScroll" target="_blank">活动</a></li>
                        <li><a href="@Url.Action("ShopMallIndex","ShopMall")" class="smoothScroll" target="_blank">商城</a></li>
                    </ul>
                </div>
                </div>
                @*<a href="@Url.Action("Login","User")" class="smoothScroll">登录</a>*@
                <div class="userinfobox col-md-2">
                    <div class="index_loginbox" id="index_loginbox">
                        @{
                            UsersManager usermanager = new UsersManager();
                            if (Session["UserName"] != null)
                            {
                                Users user = usermanager.GetUserByName(Session["UserName"].ToString());
                                if (user.Photo != null)
                                {
                                    <a href="@Url.Action("Index","UserCenter")" target="_blank"><img src="@user.Photo" /></a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index","UserCenter")" target="_blank"><img src="~/images/头像.png" /></a>
                                }

                            }
                            else
                            {
                                <img src="~/images/灰色头像.png" />
                            }
                        }

                    </div>
                    <div class="login_registerbox" id="login_registerbox_id">
                        @{
                            if (Session["UserName"] != null)
                            {
                                <div class="userinfo">
                                    <p><a href="@Url.Action("Index","UserCenter")" target="_blank">@Session["UserName"]</a></p>
                                    @{
                                        PotsManager potmanager = new PotsManager();
                                        int level;
                                        Pots pot = potmanager.GetPotsByUserID(int.Parse(Session["UserID"].ToString()));
                                        if (pot == null)
                                        {
                                            level = 0;
                                        }
                                        else
                                        {
                                            level = pot.LevelID;
                                        }

                                    }
                                    <span><i class="fa fa-vimeo" style="color:red;"></i>&nbsp;&nbsp;Lv @level</span>
                                    <div class="zhuxiao col-md-1">
                                        <a href="@Url.Action("LoginOut","User")" target="_parent" style="font-size:15px;" title="退出登录"><i class="fa fa-power-off"></i></a>
                                    </div>                                 
                                </div>
                                        }
                                        else
                                        {
                                            <div class="login_register">
                                                <a class="a-link" href="@Url.Action("Login","User")" style="font-size:18px; font-weight:400;border:none;">登 录</a>
                                                <a class="a-link" href="@Url.Action("Register","User")" style="font-size:18px;font-weight:400;border:none;">注 册</a>
                                            </div>
                                        }
                        }
                    </div>
                </div>
           
        </nav>
        <div class="contain-all">
            @RenderBody()
        </div>

        <div class="div-footer">

            @*新版底部开始*@
            @*<div class="div_left">
                <div class="web_nav">
                    <p>网站导航</p>
                    <div class="web_nav_content">
                        <a href="#" target="_blank"><span>多肉首页</span></a><br />
                        <a href="#" target="_blank"><span>多肉百科</span></a><br />
                        <a href="#" target="_blank"><span>多肉活动</span></a><br />
                        <a href="#" target="_blank"><span>多肉商城</span></a><br />
                        <a href="#" target="_blank"><span>多肉社区</span></a><br />
                    </div>
                </div>
                <div class="friend_link">
                    <p>友情链接</p>
                    <div class="friend_link_content">
                        <a href="http://219.229.243.64/Association/" target="_blank"><span>+社团</span></a><br />
                        <a href="#" target="_blank"><span>虎贲网</span></a><br />
                        <a href="#" target="_blank"><span>宠物网</span></a><br />
                        <a href="http://www.jxnu.edu.cn/" target="_blank"><span>江西师范大学</span></a><br />
                        <a href="http://www.jxedu.gov.cn/" target="_blank"><span>江西省教育厅</span></a><br />
                    </div>
                </div>

            </div>
            <div class="div_middle">
                <p>
                    技术支持：3522-多肉网团队<br />
                    Copyright&copy; 2017-  Succulent.All Right Reserved.<br />
                </p>
            </div>
            <div class="div_right">
                <div class="about_us">
                    <p>关于我们</p>
                    <div class="about_us_content">
                        <a href="#" target="_blank"><span>多肉网团队</span></a><br />
                        <a href="#" target="_blank"><span>项目背景</span></a><br />
                        <a href="#" target="_blank"><span>项目支持</span></a><br />
                        <a href="#" target="_blank"><span>3522工作室</span></a><br />
                        <a href="#" target="_blank"><span>江西师大软院</span></a><br />
                    </div>
                </div>
                <div class="contact_us">
                    <p>联系我们</p>
                    <div class="contact_us_content">
                        <div class="WeiXinQRCode">
                            <img src="~/images/多肉网微信二维码.png" width="120" height="120" />
                        </div>
                        <table>
                            <tr>
                                <td class="QQ"><img src="~/images/QQ.png" width="30" height="30" /></td>
                                <td><a href="#">763225207</a></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="#">1198165226</a></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="#">2240112066</a></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="#">1084072318</a></td>
                            </tr>

                            <tr>
                                <td class="WeiBo"><img src="~/images/sina_weibo.png" width="30" height="30" /></td>
                                <td><a href="http://weibo.com/3976320063/profile?rightmod=1&wvr=6&mod=personinfo&is_all=1" target="_blank">@@蓝色彼岸花开</a></td>
                            </tr>
                            <tr>
                                <td class="WeiXin"><img src="~/images/wechat.png" width="30" height="30" /></td>
                                <td>扫码关注我们</td>
                            </tr>
                        </table>
                        </div>
                    </div>
                </div>
            </div>*@
                        @*新版底部结束*@


                        @*旧版底部开始*@
                        <div class="div-middle">
                            <ul class="row">
                                <li class="col-md-4 div-footer-img"><img src="~/images/penzai1.png" width="60" height="75"></li>
                                <li class="col-md-4 div-footer-img"><img src="~/images/penzai2.png" width="60" height="75"></li>
                                <li class="col-md-4 div-footer-img"><img src="~/images/penzai3.png" width="60" height="75"></li>
                            </ul>
                        </div>
                        <div class="footer-wrap">
                            <div class="container footer-p">
                                <p class="row p2">
                                    <h5 class="col-md-12 p2-h5"> Connect with us  </h5><br />
                                </p>
                                <p class="p3">
                                    <span>
                                        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=763225207&site=qq&menu=yes">
                                            <img src="~/images/qq1.png" width="34" height="34" />
                                        </a>
                                    </span>
                                    <span>
                                        <a target="_blank" href="http://weibo.com/u/3976320063/">
                                            <img src="~/images/wb.png" width="34" height="34" />
                                        </a>
                                    </span>
                                    <span>
                                        <a target="_blank" href="http://weixin.qq.com">
                                            <img src="~/images/wx.png" width="34" height="34" />
                                        </a>
                                    </span>
                                </p>
                                <div class="row p1">
                                    <p class="col-md-12 ">
                                        技术支持：Succulent-Chen 工作室<br />
                                        地址：江西省南昌市紫阳大道99号江西师范大学<a href="#" target="_blank">[显示地址]</a><br />
                                        Copyright 2016  Succulent.All Right Reserved.
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                 @*旧版底部结束*@

                @*<script src="~/Scripts/jquery.js"></script>*@
                <script src="~/Scripts/bootstrap.min.js"></script>
                <script src="~/Scripts/jquery.flexslider.js"></script>
                <script src="~/Scripts/isotope.js"></script>
                <script src="~/Scripts/imagesloaded.min.js"></script>
                <script src="~/Scripts/smoothscroll.js"></script>
                <script src="~/Scripts/wow.min.js"></script>
                <script src="~/Scripts/custom.js"></script>
                <script src="~/Scripts/mislider.js"></script>
                @*<script src="~/dist/pageSwitch.min.js"></script>*@

                @RenderSection("Foot", false)

                <script language="javascript">
                    //用户头像信息JS开始
                    $('#index_loginbox').mouseover(function (e) {
                        $('#login_registerbox_id').fadeIn();
                    });

                    $("#index_loginbox , #login_registerbox_id").mouseleave(function (e) {
                        //在这里做判断，只有当鼠标的去向与信息层无关的时候，才关闭信息层
                        var target = e.relatedTarget;

                        if (!target || (target && target.id != "login_registerbox_id" && target.id != "index_loginbox" && $(target).parents("#login_registerbox_id , #index_loginbox").length == 0)) {
                            $("#login_registerbox_id").hide();
                        }

                    });
                    //用户头像信息JS结束


                    //微信二维码显示JS开始
                    $('.WeiXin').hover(function () {
                        $('.WeiXinQRCode').fadeIn();
                    }, function () {
                        $('.WeiXinQRCode').fadeOut();
                    });
                    //微信二维码显示JS结束
                </script>

                @*<script>
                    $("#container").PageSwitch({
                        direction: 'horizontal',
                        easing: 'ease-in',
                        duration: 1000,
                        autoPlay: true,
                        loop: 'false'
                    });
                </script>*@

                <script type="text/javascript">
                    jQuery(function ($) {
                        var slider = $('.mis-stage').miSlider({
                            //  The height of the stage in px. Options: false or positive integer. false = height is calculated using maximum slide heights. Default: false
                            stageHeight: 380,
                            //  Number of slides visible at one time. Options: false or positive integer. false = Fit as many as possible.  Default: 1
                            slidesOnStage: false,
                            //  The location of the current slide on the stage. Options: 'left', 'right', 'center'. Defualt: 'left'
                            slidePosition: 'center',
                            //  The slide to start on. Options: 'beg', 'mid', 'end' or slide number starting at 1 - '1','2','3', etc. Defualt: 'beg'
                            slideStart: 'mid',
                            //  The relative percentage scaling factor of the current slide - other slides are scaled down. Options: positive number 100 or higher. 100 = No scaling. Defualt: 100
                            slideScaling: 150,
                            //  The vertical offset of the slide center as a percentage of slide height. Options:  positive or negative number. Neg value = up. Pos value = down. 0 = No offset. Default: 0
                            offsetV: -5,
                            //  Center slide contents vertically - Boolean. Default: false
                            centerV: true,
                            //  Opacity of the prev and next button navigation when not transitioning. Options: Number between 0 and 1. 0 (transparent) - 1 (opaque). Default: .5
                            navButtonsOpacity: 1,
                        });
                    });
                </script>
</body>
</html>
