@using BLL
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link type="image/x-icon" href="~/images/多肉项目Logo.png" rel="icon" />
    <script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/jquery.animate-colors-min.js"></script>
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="/css/ShopMallTopAndFoot.css" />
</head>
<body>
    <!--顶部导航栏开始-->
    <div class="head_box">
        <div id="head_wrap">
            <div id="head_nav">
                <a class="head_nav_a" href="@Url.Action("Index","Index")">首页</a>
                <span>|</span>
                <a class="head_nav_a" href="@Url.Action("Index","Index")">多肉百科</a>
                <span>|</span>
                <a class="head_nav_a"href="@Url.Action("ShopMallIndex","ShopMall")">多肉商城</a>
                <span>|</span>
                <a class="head_nav_a"href="@Url.Action("Index","SucculentActivity")">多肉活动</a>
                <span>|</span>
                <a class="head_nav_a" href="@Url.Action("TribuneIndex","Tribune")">论坛</a>
            </div>
            <div id="head_right">
                <div id="head_landing">
                    @if(Session["UserName"]==null)
                    { 
                    <a href="@Url.Action("Login","User")" class="head_nav_a">登陆</a>
                    <span>|</span>
                    <a href="@Url.Action("Register","User")" class="head_nav_a">注册</a>
                    }
                    else
                    {
                        
                        <a>@Session["UserName"]</a>
                        <span>|</span>
                        <a href="@Url.Action("ZhuXiao","ShopMall")">注销</a>
                        

                    }
                </div>
                    
                  @if (Session["UserName"] != null)
                   {
                           <a href="@Url.Action("OrderItem","Goods",new { UserID=Session["UserID"]})" class="dingdan">订单</a>
                   }
                  else
                  {
                    <a onclick="confirm('请先登录')?location.href='@Url.Action("Login","User")':''" href="javascript:;" class="dingdan">订单</a> 
                  }

                <div id="head_car">
                   
                    @if(Session["UserName"]!=null)
                    { 
                    <a href="@Url.Action("Carts","Goods",new { UserID=Session["UserID"]})" class="head_car_text" target="_blank"><s class="gouwuche">购物车</s><img  src="~/images/购物车 (1).png" /></a>
                    
                    }
                    else
                    {
                        <a onclick="confirm('请先登录')?location.href='@Url.Action("Login","User")':''" href="javascript:;"><s class="gouwuche">购物车</s><img  src="~/images/购物车 (1).png"/></a>
                    }
                    <div id="car_content" style="height: 0px;width:0px ;background-color: #edffc6;z-index: 999">
                        <a class="car_text"></a>
                    </div>
                </div>    
                
            </div>
            
        </div>
    </div>
    <!--顶部导航栏结束-->
    <!-- 顶部分类开始-->
    <div id="main_head_box">
        <div id="menu_wrap">
            <div id="menu_logo">
                
                <img src="~/images/多肉项目Logo.png" />
            </div>
            <div id="menu_nav">
                <ul>
                    <li class="menu_li" control="shouye"><a href="@Url.Content("~/ShopMall/ShopMallIndex")" style="text-decoration:none;">商城首页</a></li>
                    <li class="menu_li" control=""><a href="@Url.Action("ShopMallClass","ShopMall",new { good="1"})" >多肉植物</a></li>
                    <li class="menu_li" control="hongmiphone"><a href="@Url.Action("ShopMallClass","ShopMall",new { good="2"})">多肉花盆</a></li>
                    <li class="menu_li" control="pingban"><a href="@Url.Action("ShopMallClass","ShopMall",new { good="3"})">多肉植料</a></li>
                    <li class="menu_li" control="tv"><a href="@Url.Action("ShopMallClass","ShopMall",new { good="4"})">工具摆件</a></li>
                    <li class="menu_li" control="luyou"><a href="@Url.Action("ShopMallClass","ShopMall",new { good="5"})">绿植盆栽</a></li>
                    <li class="menu_li" control="yingjian"><a href="@Url.Action("ShopMallShops","ShopMall")">商家店铺</a></li>

                </ul>
            </div>
            <div id="find_wrap">
                @using (Html.BeginForm("Index", "MallSearch", FormMethod.Post,new { id="search"}))
                {
                <div id="find_bar">
                    <input type="text" id="find_input" name="SearchString">
                    
                </div>
                <div id="find_but"><a href="javascript:document.getElementById('search').submit()"style="text-decoration:none;" >GO</a></div>
                }
            </div>
        </div>
    </div>
    @*<div id="menu_content_bg" style="height: 0px;">
        <div id="menu_content_wrap">
            <ul style="top: 0px;">
                <li id="xiaomiphone">
                    <div class="menu_content">
                        <img src="img/duorou/1.jpg">
                        <p class="menu_content_tit">多肉组合拼盘</p>
                        <p class="menu_content_price">9.9元起</p>
                    </div>
                    <span class="menu_content_line"></span>
                    <div class="menu_content">
                        <img src="img/duorou/2.jpg">
                        <p class="menu_content_tit">多肉虹之玉</p>
                        <p class="menu_content_price">19.9元</p>
                    </div>
                    <span class="menu_content_line"></span>
                    <div class="menu_content">
                        <img src="img/duorou/3.jpg">
                        <p class="menu_content_tit">多肉桃之卵桃蛋</p>
                        <p class="menu_content_price">5.9元</p>
                    </div>
                    <span class="menu_content_line"></span>
                    <div class="menu_content">
                        <img src="img/duorou/4.jpg">
                        <p class="menu_content_tit">多肉红色浆果</p>
                        <p class="menu_content_price">7.9元</p>
                    </div>
                    <span class="menu_content_line"></span>
                    <div class="menu_content">
                        <img src="img/duorou/5.jpg">
                        <p class="menu_content_tit">多肉皮氏蓝石莲</p>
                        <p class="menu_content_price">7.9元</p>
                    </div>
                </li>
                <li id="hongmiphone">
                    <div class="menu_content">
                        <img src="img/huapen/1.jpg">
                        <p class="menu_content_tit">白色陶瓷花盆</p>
                        <p class="menu_content_price">25元</p>
                    </div>
                    <span class="menu_content_line"></span>
                    <div class="menu_content">
                        <img src="img/huapen/2.jpg">
                        <p class="menu_content_tit">简约青花瓷花盆</p>
                        <p class="menu_content_price">59元</p>
                    </div>
                    <span class="menu_content_line"></span>
                    <div class="menu_content">
                        <img src="img/huapen/3.jpg">
                        <p class="menu_content_tit">陶瓷老桩花盆</p>
                        <p class="menu_content_price">39元</p>
                    </div>
                    <span class="menu_content_line"></span>
                    <div class="menu_content">
                        <img src="img/huapen/4.jpg">
                        <p class="menu_content_tit">大口流釉花盆</p>
                        <p class="menu_content_price">12.8元</p>
                    </div>
                    <span class="menu_content_line"></span>
                    <div class="menu_content">
                        <img src="img/huapen/5.jpg">
                        <p class="menu_content_tit">山水中国风花盆</p>
                        <p class="menu_content_price">22.8元</p>
                    </div>
                </li>
                <li id="pingban">
                    <div class="menu_content">
                        <img src="img/zhiliao/1.jpg">
                        <p class="menu_content_tit">多肉种植铺面石植料</p>
                        <p class="menu_content_price">8.9元</p>
                    </div>
                    <span class="menu_content_line"></span>
                    <div class="menu_content">
                        <img src="img/zhiliao/2.jpg">
                        <p class="menu_content_tit">绿沸石多肉植料</p>
                        <p class="menu_content_price">19元</p>
                    </div>
                    <span class="menu_content_line"></span>
                    <div class="menu_content">
                        <img src="img/zhiliao/3.jpg">
                        <p class="menu_content_tit">垫底透气陶粒多肉植料</p>
                        <p class="menu_content_price">9.9元</p>
                    </div>
                    <span class="menu_content_line"></span>
                    <div class="menu_content">
                        <img src="img/zhiliao/4.jpg">
                        <p class="menu_content_tit">日本进口赤玉土植料</p>
                        <p class="menu_content_price">39元</p>
                    </div>
                </li>
                <li id="tv">
                    <div class="menu_content">
                        <img src="img/gongju/1.jpg">
                        <p class="menu_content_tit">多肉工具套装</p>
                        <p class="menu_content_price">19元</p>
                    </div>
                    <span class="menu_content_line"></span>
                    <div class="menu_content">
                        <img src="img/gongju/2.jpg">
                        <p class="menu_content_tit">多肉工具防虫网</p>
                        <p class="menu_content_price">2.9元</p>
                    </div>
                    <span class="menu_content_line"></span>
                    <div class="menu_content">
                        <img src="img/gongju/3.jpg">
                        <p class="menu_content_tit">多肉移栽工具镊子</p>
                        <p class="menu_content_price">3.9元</p>
                    </div>
                    <span class="menu_content_line"></span>
                    <div class="menu_content">
                        <img src="img/gongju/4.jpg">
                        <p class="menu_content_tit">多肉工具气吹</p>
                        <p class="menu_content_price">4.9元</p>
                    </div>
                </li>
                <li id="luyou">
                    <div class="menu_content">
                        <img src="img/penzai/1.jpg">
                        <p class="menu_content_tit">多肉花卉组合盆栽</p>
                        <p class="menu_content_price">29元</p>
                    </div>
                    <span class="menu_content_line"></span>
                    <div class="menu_content">
                        <img src="img/penzai/2.jpg">
                        <p class="menu_content_tit">蓝豆多肉小盆栽</p>
                        <p class="menu_content_price">6元</p>
                    </div>
                    <span class="menu_content_line"></span>
                    <div class="menu_content">
                        <img src="img/penzai/3.jpg">
                        <p class="menu_content_tit">壹分皿多肉组合盆栽</p>
                        <p class="menu_content_price">19元</p>
                    </div>
                    <span class="menu_content_line"></span>
                    <div class="menu_content">
                        <img src="img/penzai/4.jpg">
                        <p class="menu_content_tit">冰梅阳台多肉组合盆栽</p>
                        <p class="menu_content_price">19.9元</p>
                    </div>
                </li>
                <li id="yingjian">
                    <div class="menu_content">
                        <img src="img/dianpu/1.jpg">
                        <p class="menu_content_tit">万象更新</p>

                    </div>
                    <span class="menu_content_line"></span>
                    <div class="menu_content">
                        <img src="img/dianpu/2.jpg">
                        <p class="menu_content_tit">壹分皿</p>

                    </div>
                    <span class="menu_content_line"></span>
                    <div class="menu_content">
                        <img src="img/dianpu/3.jpg">
                        <p class="menu_content_tit">治家森活</p>

                    </div>
                    <span class="menu_content_line"></span>
                    <div class="menu_content">
                        <img src="img/dianpu/4.jpg">
                        <p class="menu_content_tit">美诺花园</p>

                    </div>
                    <span class="menu_content_line"></span>
                    <div class="menu_content">
                        <img src="img/dianpu/5.jpg">
                        <p class="menu_content_tit">绿野园艺</p>

                    </div>

                </li>
            </ul>
        </div>
    </div>*@
    <!-- 顶部分类结束-->
    <div class="body-content">
        @RenderBody()

    </div>



    <div id="foot_box">
        <div id="foot_wrap">
            <div class="foot_top">
                <ul>
                    <li>24小时快速发货</li>
                    <li class="font_top_i">|</li>
                    <li>7天无理由退货</li>
                    <li class="font_top_i">|</li>
                    <li>15天免费换货</li>
                    <li class="font_top_i">|</li>
                    <li>满59元包邮</li>
                    <li class="font_top_i">|</li>
                    <li>520余家实体店加盟</li>
                </ul>
            </div>
            <div class="foot_bottom">
                <div class="foot_bottom_l">
                    <dl>
                        <dt>帮助中心</dt>
                        <dd>购物指南</dd>
                        <dd>支付方式</dd>
                        <dd>配送方式</dd>
                    </dl>
                    <dl>
                        <dt>服务支持</dt>
                        <dd>售后政策</dd>
                        <dd>自助服务</dd>
                        <dd>相关下载</dd>
                    </dl>
                    <dl>
                        <dt>多肉之家</dt>
                        <dd>多肉之家</dd>
                        <dd>服务网点</dd>
                        <dd>预约亲临</dd>
                    </dl>
                    <dl>
                        <dt>关注我们</dt>
                        <dd>新浪微博</dd>
                        <dd>多肉部落</dd>
                        <dd>官方微信</dd>
                    </dl>
                    <dl>
                        <dt>商城操作</dt>
                        <dd>
                        @if (Session["UserID"] != null)
                        {
                            ShopManager shopmanager = new ShopManager();
                            int userid = Convert.ToInt32(Session["UserID"]);
                            var result = shopmanager.SelectIsShoper(userid);
                            if (result > 0)
                            {
                                <a href="@Url.Action("CreatGoods","Goods",new { UserID=Session["UserID"]})">商品上新</a>
                            }
                            else
                            {
                                
                            }
                        }
                        else
                        {
                            <a onclick="confirm('请先登录')?location.href='@Url.Action("Login","User")':''" href="javascript:;" class="dingdan">商品上新</a>
                        }
                        </dd>
                        <dd>
                            @if (Session["UserID"] != null)
                            {
                                ShopManager shopmanager = new ShopManager();
                                int userid = Convert.ToInt32(Session["UserID"]);
                                var result = shopmanager.SelectIsShoper(userid);
                                if (result > 0)
                                {

                                }
                                else
                                {
                                    <a href="@Url.Action("RegisterShops","Goods",new { UserID=Session["UserID"]})">商家注册</a>
                                }

                            }
                            else
                            {
                                <a onclick="confirm('请先登录')?location.href='@Url.Action("Login","User")':''" href="javascript:;" class="dingdan">商家注册</a>
                            }
                        </dd>
                        <dd>官方微信</dd>
                    </dl>
                </div>
                <div class="foot_bottom_r">
                    <a>400-100-5678</a>
                    <a>周一至周日 8:00-18:00</a>
                    <a>（仅收市话费）</a>
                    <span> 24小时在线客服</span>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/js/ShopMallTopFoot.js"></script>
</body>
</html>
