@model Model.SucculentCategory

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdminManagement.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SucculentCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SucculentCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SucculentCategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SucculentCategoryDescribe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SucculentCategoryDescribe)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SucculentCategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
