@model IEnumerable<Model.SucculentCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminManagement.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SucculentCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SucculentCategoryDescribe)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SucculentCategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SucculentCategoryDescribe)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SucculentCategoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SucculentCategoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SucculentCategoryID })
        </td>
    </tr>
}

</table>
