@model IEnumerable<Model.Users>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminManagement.cshtml";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecretQues)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecretAnws)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserFlag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CollectionTotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Photo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecretQues)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecretAnws)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserFlag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CollectionTotal)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.UserID }) |
            @Html.ActionLink("详情", "Details", new { id=item.UserID }) |
            @Html.ActionLink("删除", "Delete", new { id=item.UserID })
        </td>
    </tr>
}

</table>
