@model Model.Users
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>找回密码</title>
    <link type="image/x-icon" href="~/images/多肉项目Logo.png" rel="icon" />
    <link href="~/Content/ForgetPassword.css" rel="stylesheet" />
    <link href="~/Content/foundation.min.css" rel="stylesheet" />
</head>
<body>
    <!--顶部开始-->
    <div class="header">
        <div class="Logo">
            <a href="@Url.Action("Index","Index")" title="多肉网">
                <img src="../images/Logo带下文字.png" width="70" height="90" title="多肉网" />
            </a>
            <span>重置密码</span>

        </div><p><a href="@Url.Action("Login","User")"> 登录</a></p>
    </div>
    <!--顶部结束-->
    <!-- 主体部分开始 -->
    <div class="main">
        <div class="PhoneBox">
            @using (Html.BeginForm("PhoneValidate", "User", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(user=>user.UserName)
                @*<input type="text" placeholder="请输入注册时手机号">*@
                @Html.TextBox("Phone","",new { placeholder = "请输入注册时手机号" })
                <br />
                <input type="submit" class="button success expand" value="下一步">
            }
        </div>
    </div>
    <!-- 主体部分结束 -->
</body>
</html>
