@model Model.Users
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>找回密码</title>
    <link type="image/x-icon" href="~/images/多肉项目Logo.png" rel="icon" />
    <link href="~/Content/ForgetPassword.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/foundation.min.css" rel="stylesheet" />
</head>
<body>
    <!--顶部开始-->
    <div class="header">
        <div class="Logo">
            <a href="@Url.Action("Index","Index")" title="多肉网">
                <img src="../images/Logo带下文字.png" width="70" height="90" title="多肉网" />
            </a>
            <span>重置密码</span>

        </div><p><a href="@Url.Action("Login","User")"> 登录</a></p>
    </div>
    <!--顶部结束-->
    <!-- 主体部分开始 -->
    <div class="main">

        <div class="SelectWays">
            <h5>选择验证方式</h5>
            <div class="Ways">
                <a href="@Url.Action("SecretQuestion","User",new { UserName=Model.UserName })">
                    <i class="glyphicon glyphicon-lock"></i>
                    <div class="Ways_txt">
                        <p>密保问题验证</p>
                        <span>您需要回答您设置的密保问题</span>
                    </div>
                    <i class="glyphicon glyphicon-menu-right arrow"></i>
                </a>
            </div>
            <div class="Ways">
                <a href="@Url.Action("EmailValidate","User",new { UserName=Model.UserName })">
                    <i class="glyphicon glyphicon-envelope"></i>
                    <div class="Ways_txt">
                        <p>邮箱验证</p>
                        <span>您需要用您的邮件进行验证</span>
                    </div>
                    <i class="glyphicon glyphicon-menu-right arrow"></i>
                </a>
            </div>
            <div class="Ways">
                <a href="@Url.Action("PhoneValidate","User",new { UserName=Model.UserName })">
                    <i class="glyphicon glyphicon-phone"></i>
                    <div class="Ways_txt">
                        <p>手机号验证</p>
                        <span>您需要对您的手机号进行验证</span>
                    </div>
                    <i class="glyphicon glyphicon-menu-right arrow"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- 主体部分结束 -->
</body>
</html>
