@model Model.Users
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>找回密码</title>
    <link type="image/x-icon" href="~/images/多肉项目Logo.png" rel="icon" />
    <link href="~/Content/ForgetPassword.css" rel="stylesheet" />
    <link href="~/Content/foundation.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <!--顶部开始-->
    <div class="header">
        <div class="Logo">
            <a href="@Url.Action("Index","Index")" title="多肉网">
                <img src="../images/Logo带下文字.png" width="70" height="90" title="多肉网" />
            </a>
            <span>重置密码</span>

        </div><p><a href="@Url.Action("Login","User")"> 登录</a></p>
    </div>
    <!--顶部结束-->
    <!-- 主体部分开始 -->
    <div class="main">
        <div class="ResetBox">
            @using (Html.BeginForm("ResetPassword", "User", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(user=>user.UserName)
                <div class="row">
                    <div class="large-12 columns">
                        <div class="row collapse">
                            <div class="small-3 columns">
                                <span class="prefix">新密码</span>
                            </div>
                            <div class="small-9 columns input_div">
                                @*@Html.EditorFor(user=>user.Password,new { placeholder = "6-20个任意字符" })*@
                                @Html.Password("Password","",new { placeholder = "6-20个任意字符" })
                               
                            </div>
                        </div>
                    </div>
                    <div class="large-10 columns large-offset-2">
                        @Html.ValidationMessageFor(user => user.Password, "", new { style = "color:#1E90FF;" })
                    </div>
                    </div>
                <div class="row">
                    <div class="large-12 columns">
                        <div class="row collapse">
                            <div class="small-3 columns">
                                <span class="prefix">确认密码</span>
                            </div>
                            <div class="small-9 columns input_div">
                                @*@Html.EditorFor(user=>user.PasswordAgain, new { placeholder = "请再次输入密码" })*@
                                @Html.TextBox("PasswordAgain", "", new { placeholder = "请再次输入密码" })
                                @Html.ValidationMessageFor(user => user.PasswordAgain, "", new { style = "color:#1E90FF;" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <div class="row collapse">
                            <div class="small-3 columns">
                                <span class="prefix">手机号</span>
                            </div>
                            <div class="small-9 columns input_div">
                                @Html.TextBoxFor(user => user.Phone, new { placeholder = "请输入正确的大陆手机号码" })
                                @Html.ValidationMessageFor(user => user.Phone, "", new { style = "color:#1E90FF;" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <div class="row collapse">
                            <div class="small-3 columns">
                                <span class="prefix">邮箱</span>
                            </div>
                            <div class="small-9 columns input_div">
                                @Html.TextBoxFor(user => user.Email, new { placeholder = "请输入正确的电子邮箱，格式如xxx@xx.com" })
                                @Html.ValidationMessageFor(user => user.Email, "", new { style = "color:#1E90FF;" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <button class="button success expand">重置密码</button>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- 主体部分结束 -->
</body>
</html>
